
<table  class="table table-striped">
  <tr>
    <th>#</th>
    <th>L'université</th>
    <th>Nombre de Niveaux</th>
    <th></th>
  </tr>

<% @universities.each do |university| %>
  <tr>
    <td>#</td>
    <td><%= link_to university.name, university_path(university) %></td>
    <td><%= Annee.where('university_id = ?', university.id).count %></td>
    <td><%= link_to 'Edit', edit_university_path(university) %></td>
  </tr>
<% end %>
</table>


